// - - - - - - - - - - About Styles - - - - - - - - - - //
.about_box
  position: relative
  border-radius: 0.5rem	  
  width: 1000px	  
  	 
.about
  position: relative
  width: 80%
  height: 100vh
  min-height: 700px
  background-image: url(../img/bg_about.jpg)
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  .author
    border-radius: 0.5rem
    margin-bottom: 1rem
    .author_image
      float: none
      display: block
      margin: 10px auto 175rem
    .author_info
      margin: 50px
      margin-left: 2rem
      margin-right: 2rem
      padding: 100px
      text-align: center

  .about_social
    border-radius: 0.5rem
    color: $white
    overflow: hidden
    .social_footer
      padding: 0
      margin: 0
      border: none
      a
        font-size: 1rem
        color: $white
        background-color: $dark_gray
        &:hover
          color: $highlight
